<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042528545338-67350b2bsb6j5nnu9k4677qk0ivjq184.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042528545338-67350b2bsb6j5nnu9k4677qk0ivjq184</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Yq-j5cURbZVfFHVw4sW1u8nU3WwdSkk</string>
	<key>GCM_SENDER_ID</key>
	<string>1042528545338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>user.Antique</string>
	<key>PROJECT_ID</key>
	<string>antique-8240a</string>
	<key>STORAGE_BUCKET</key>
	<string>antique-8240a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042528545338:ios:9159b2dbfaf1054934a303</string>
	<key>DATABASE_URL</key>
	<string>https://antique-8240a.firebaseio.com</string>
</dict>
</plist>